
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #5fafffb4;
  }
  
  .logo-container {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 300px; 
    height: auto;
  }
  
  .site-name {
    font-size: 1.5rem;
    font-weight: bold; 
    color: white;
  }
  